<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
	  <add name="MySQLConnection" connectionString="Server=localhost;user id=root;password=root;persist security info=True;database=prestonmarathon" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>